<p style="color: green"><%= notice %></p>

<div id="strains" class="shadow-lg p-3 mb-5 bg-gray rounded">
  <h1>Catálogo de Cepas</h1>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th>Nombre de la Cepa</th>
        <th>Disponible?</th>
        <th colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @strains.each do |strain| %>
        <tr>
          <% @modo_tabla = true %>
          <%= render strain %>
          <!-- td>< % = strain.pet_count(strain.id) % ></ -->
          <td><%= link_to "Ver", strain %></td>
          <td><%= link_to "Editar", edit_strain_path(strain) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="align-center-box">
  <%= paginate @strains %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="align-start-box">
    <%= link_to root_path, class: "page-item", style: "text-decoration: none; display: inline-block" do %>
      <i class="fa fa-home  page-link  llink" aria-hidden="true" title="Ir al Home"></i>
    <% end %>
    <%= link_to new_strain_path, class: "page-item", style: "text-decoration: none; display: inline-block" do %>
      <i class="fa fa-plus page-link llink" aria-hidden="true" title="Nuevo"></i>
    <% end %>
    <%= link_to strains_path, class: "page-item", style: "text-decoration: none; display: inline-block" do %>
      <i class="fa fa-fast-backward pagination pagination-box page-link llink" aria-hidden="true" title="Volver"></i>
    <% end %>
  </div>
</div>

